<div class="footer">
  <footer>
    <a href="https://twitter.com/gothamgo">
      <img alt="twitter" src="{{site.url}}/images/twitter.png" target="_blank" width="32" height="32"></a>
    <!--
    <p>Our "Go gophers" were created by <a href="https://twitter.com/egonelbre">Egon Elbre</a>. Thanks Egon!</p>

    <p>The Go gopher is based on the Go mascot designed by <a href="http://reneefrench.blogspot.com/">Renée French</a> 
       and copyrighted under the <a href="https://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 license</a>.</p>

    <p>For sponsorship information, please email us at info at nationconfs.com</p>

    <p>We require our attendees and speakers to follow our Code of Conduct.</p>
    -->
  </footer>
</div>
